# Files from build
**/*.o
**/*.s
src/.depend

# Built binary
src/shashchess*
src/ShashChess*
src/-lstdc++.res

# Neural network for the NNUE evaluation
**/*.nnue

# Experience files
**/*.exp

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix